.advantages {
  text-align: center;
  padding-top: 40px;
  background-color: $secondary-bgColor;
}

.advantages__wrapper {
  background-image: url('../img/iphone-screen-mobile@1x.png');
  background-position: center 435px;
  background-repeat: no-repeat;
  min-height: 720px;
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    min-height: auto;
    justify-content: flex-end;
    background-position: 10px 40px;
    @media (min-width: 1200px) {
      background-image: none;
      justify-content: space-around;
      @include padding-side(120px);
    }
  }

}

.advantages__header {
  margin-bottom: 110px;
  @media (min-width: 660px) {
    margin-bottom: 105px;
  }
}

.advantages__info {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 0;
  line-height: 30px;
  @media (min-width: 660px) {
    font-size:40px;
  }
}

.advantages__info--first {
  @media (min-width: 660px) {
    margin-bottom: 0;
  }
}

.advantages__info--last {
  @media (min-width: 660px) {
    // margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    line-height: 46px;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1
    }
  }
}

.advantages__item {
  margin-bottom: 30px;
  @media (min-width: 660px) {
    margin-bottom: 0;
    @media (min-width: 1200px) {
      width: 250px;
      text-align: center;
    }
  }
}

.advantages__title {
  font-size: 18px;
  margin-bottom: 10px;
  @media (min-width: 1200px) {
    font-size: 30px;
  }
}

.advantages__description {
  line-height: 24px;
  font-size: 14px;
  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
  }
}

// .advantages__background {
//   margin: 0 auto;
//   width: 155px;
//   height: 280px;
//   background-image: url('../img/iphone-screen-mobile@1x.png');
// }
