.advantages {
  text-align: center;
  padding-top: 40px;
  background-color: $primary-bgColor;

  @media (min-width: 660px) {
    padding-top: 59px;
  }

  @media (min-width: 1200px) {
    padding-top: 72px;
  }
}

.advantages__background {
  background-color: $secondary-bgColor;
}

.advantages__wrapper {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 428px;
  background-repeat: no-repeat;
  min-height: 706px;

  @media (min-width: 660px) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    display: flex;
    min-height: auto;
    justify-content: flex-end;
    background-position: 0 0;
    background-size: 270px;
    padding-top: 55px;
    padding-bottom: 6px;

    @media (min-width: 1200px) {
      background-image: none;
      justify-content: space-around;
      padding-top: 0;

      // @include padding-side(120px);
    }
  }
}

.advantages__header {
  margin-bottom: 110px;

  @media (min-width: 660px) {
    margin-bottom: 50px;

    @media (min-width: 1200px) {
      margin-bottom: 80px;
    }
  }
}

.advantages__info {
  font-size: 24px;
  font-weight: lighter;
  margin-top: 0;
  line-height: 30px;
  margin-bottom: 26px;

  @media (min-width: 660px) {
    font-size: 40px;

    @media (min-width: 1200px) {
      font-size: 50px;
      line-height: 54px;
    }
  }
}

.advantages__info--first {
  @media (min-width: 660px) {
    margin-bottom: 0;
  }
}

.advantages__info--last {
  @media (min-width: 660px) {
    // margin: 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    line-height: 46px;

    @media (min-width: 1200px) {
      max-width: 500px;
      margin: 0 auto;
      line-height: 54px;
    }
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;

    @media (min-width: 1200px) {
      width: 940px;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      margin-bottom: 40px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.advantages__item {
  margin-bottom: 30px;

  @media (min-width: 660px) {
    margin-bottom: 0;

    @media (min-width: 1200px) {
      width: 300px;
      text-align: center;
    }
  }
}

.advantages__item img {
  display: none;
  max-width: 100%;

  @media (min-width: 1200px) {
    display: block;
    margin: 0 auto;
    height: 302px;
  }
}

.advantages__title {
  font-size: 18px;
  margin-bottom: 10px;

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
    margin-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.advantages__description {
  line-height: 24px;
  font-size: 14px;

  @media (min-width: 660px) {
    margin-top: 13px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    line-height: 30px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

// .advantages__background {
//   margin: 0 auto;
//   width: 155px;
//   height: 280px;
//   background-image: url('../img/iphone-screen-mobile@1x.png');
// }
