.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}

.copyright__link {
  font-size: 0;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  display: flex;
}
