.download {
  z-index: 2;

  @media (max-width: 659px) {
    background-color: rgb(29, 38, 48);
  }
}

.download__wrapper {
  color: $light-color;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 20px;

  @media (min-width: 660px) {
    background-color: inherit;
    display: flex;
    width: 330px;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 5px;

    @media (min-width: 1200px) {
      padding-top: 25px;
    }
  }
}

.download__title {
  font-size: 0;

  @media (min-width: 660px) {
    font-size: 40px;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 48px;

    @media (min-width: 1200px) {
      font-size: 50px;
      line-height: 58px;
      margin-bottom: 55px;
    }
  }
}

.download__button {
  margin-bottom: 25px;

  @media (min-width: 1200px) {
    margin-bottom: 65px;
  }
}

.download__links {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: 660px) {
    margin-bottom: 32px;
  }
}

.download__link {
  display: block;
  color: $light-color;
  text-decoration: none;
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}

.download__link--apple {
  background-image: url("../img/logo-apple.svg");
}

.download__link--android {
  background-image: url("../img/logo-android.svg");
}

.download__link--windows {
  background-image: url("../img/logo-microsoft.svg");
}

.download__description {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;

  @media (min-width: 660px) {
    font-size: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}
