.editor-form {
  background-color: $secondary-bgColor;
  padding-bottom: 35px;

  @media (min-width: 660px) {
    padding-bottom: 55px;

    @media (min-width: 1200px) {
      width: 940px;
      margin: 0 auto;
      margin-bottom: 65px;
    }
  }
}

.editor-form__header {
  margin-bottom: 42px;

  @media (min-width: 660px) {
    margin-bottom: 70px;
  }
}

.editor-form__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background-color: $primary-bgColor;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.editor-form__description {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  background-color: $primary-bgColor;

  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.editor-form__wrapper {
  @media (min-width: 660px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 300px;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;

    @media (min-width: 1200px) {
      flex-direction: row;
      flex-basis: 410px;
      justify-content: space-evenly;
    }
  }
}

.editor-form__wrapper--effects {
  flex-direction: column;

  @include padding-side(0);
  // flex-grow: 1;
  justify-content: space-between;
}

.editor-form__button-wrapper {
  @media (min-width: 660px) {
    flex-basis: auto;
    padding-top: 0;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 20px;
  }
}

.editor-form__modify {
  padding-top: 20px;
  padding-bottom: 55px;
  border-bottom: 1px solid rgb(221, 223, 224);
  margin-bottom: 14px;

  @media (min-width: 660px) {
    display: flex;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 19px;
  }
}

.editor-form__effect {
  width: 25px;
  height: 25px;
  fill: $pink-color;

  @media (max-width: 659px) {
    fill: #b5b9be;
  }

  // display: block;
  // background-image: url('../img/icon-editor-crop.svg');
}

.editor-form__effect:hover {
  @media (max-width: 659px) {
    fill: #8d949b;
  }
}

.editor-form__label {
  @media (min-width: 660px) {
    border-bottom: 1px solid #dddfe0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 18px;
  }
}

.editor-form__label--active .editor-form__effect {
  fill: $pink-color;
}


.editor-form__effects-group {
  display: flex;
  justify-content: space-evenly;
  font-size: 0;
  margin-bottom: 30px;
  position: relative;

  @media (min-width: 660px) {
    flex-direction: column;
    flex-basis: 175px;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 25px;
  }
}

.editor-form__effects-group input {
  display: none;
}

.editor-form__button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $secondary-bgColor;
  color: $pink-color;
  border-color: $pink-color;
  cursor: pointer;

  @media (min-width: 1200px) {
    width: 45%;
  }
}

.editor-form__button:hover {
  background-color: $pink-color;
  color: $light-color;
}

.editor-form__button:active {
  color: #e06989;
}

.editor-form__button--disabled {
  color: rgb(221, 223, 224);
  border-color: rgb(221, 223, 224);
}

.editor-form__button--disabled:hover {
  border-color: #b5b9be;
  color: #b5b9be;
  background-color: inherit;
}

.editor-form__button--disabled:active {
  color: #cbced2;
  background-color: #b5b9be;
  border-color: #b5b9be;
}

.editor-form__img {
  flex-basis: 300px;

  @media (min-width: 660px) {
    height: 400px;
    margin-top: 37px;

    @media (min-width: 1200px) {
      // margin-left: 80px;
    }
  }
}

.editor-form__label--active .editor-form__value {
  @media (max-width: 659px) {
    width: 80%;
    height: 0;
    border-top: 1px solid #283645;
    border-bottom: 1px solid #283645;
    position: absolute;
    bottom: -45px;
    left: 35px;
  }
}

.editor-form__value {
  @media (min-width: 660px) {
    width: 80%;
    height: 0;
    border-top: 1px solid #283645;
    border-bottom: 1px solid #283645;
    position: relative;
  }
}

.editor-form__label--active .editor-form__value::after {
  @media (max-width: 659px) {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    border: 2px solid $pink-color;
    border-radius: 50%;
    content: "";
    top: -9px;
    left: 33px;
    background-color: $secondary-bgColor;
  }
}

.editor-form__value::after {
  @media (min-width: 660px) {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    border: 2px solid $pink-color;
    border-radius: 50%;
    content: "";
    top: -9px;
    left: 33px;
    background-color: $secondary-bgColor;
  }
}

.editor-form__value::after:hover {
  background: red;
}
