.effect {
  display: none;
  // background-image: url('#');
  @media (min-width: 660px) {
    display: flex;
    justify-content: flex-end;
    padding-top: 58px;
    margin-bottom: 105px;

    @media (min-width: 1200px) {
      background-color: $secondary-bgColor;
      padding-bottom: 115px;
    }
  }
}

.effect__container {
  display: flex;
  justify-content: space-between;
}

.effect__timer {
  height: 200px;
  position: relative;
}

.effect__timer::after {
  position: absolute;
  top: 83px;
  left: 63px;
  display: block;
  width: 120px;
  height: 120px;
  content: "24";
  font-size: 100px;
  font-weight: bold;
  color: $pink-color;
}

.effect__timer svg {
  width: 240px;
  height: 280px;
}

.effect__wrapper {
  @media (min-width: 660px) {
    width: 300px;
    margin-right: 10px;

    @media (min-width: 1200px) {
      width: 495px;
      padding-right: 70px;
    }
  }
}

.effect__title {
  font-size: 30px;
  padding-right: 160px;

  @media (min-width: 660px) {
    line-height: 36px;
    margin-bottom: 0;
    margin-top: 36px;
    padding-right: 100px;
  }
}

.effect__discription {
  @media (min-width: 660px) {
    font-size: 14px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 10px;

    @media (min-width: 1200px) {
      font-size: 18px;
      margin-top: 20px;
      line-height: 30px;
      margin-bottom: 35px;
    }
  }
}

.effect__detail {
  @media (min-width: 660px) {
    color: $pink-color;
    font-size: 14px;

    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
}
