.form-registry {
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    // @include padding-side(20px);
    @media (min-width: 1200px) {
      // @include padding-side(120px);
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form-registry__section {
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  @media (min-width: 660px) {
    border: 2px solid rgb(230, 230, 230);
    margin-bottom: 65px;
  }
}

.form-registry__section-wrapper {
  @media (min-width: 1200px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

.form-registry__section--contacts {
  @media (min-width: 660px) {
    order: 3;
    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.form-registry__section--name-info {
  padding-bottom: 20px;
  @media (min-width: 660px) {
    border: none;
    @media (min-width: 1200px) {
      flex-grow: 1;
      margin-right: 50px;
      padding-top: 0;
      padding-bottom: 0;
      justify-content: space-between;
    }
  }
}

.form-registry__section--achievement {
  background-color: $secondary-bgColor;
  @media (min-width: 660px) {
    background-color: $primary-bgColor;
    order: 4;
    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.form-registry__section--application {
  background-color: $secondary-bgColor;
  // order: 1;
  @media (min-width: 660px) {
    background-color: $primary-bgColor;
    // order: 2;
    @media (min-width: 1200px) {
      flex-grow: 1;
    }
  }
}

.form-registry__section--feedback {
  @media (min-width: 660px) {
    order: 5;
    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.form-registry__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-registry__field--text {
  @media (min-width: 660px) {
    flex-direction: row;
    @media (min-width: 1200px) {
      margin-bottom: 0;
      align-items: center;
    }
  }
}

.form-registry__field--contacts {
  @media (min-width: 660px) {
    align-items: flex-start;
    @media (min-width: 1200px) {
      flex-grow: 1;
    }
  }
}

.form-registry__field--checkbox {
  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.form-registry__label {
  color: $pink-color;
  font-stize: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-indent: 20px;
}

.form-registry__label--contacts {
  @media (min-width: 660px) {
    padding-left: 15px;
    margin-top: 15px;
  }
}

.form-registry__input {
  outline: none;
  border: 2px solid rgb(230, 230, 230);
  padding: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px;
  @media (min-width: 660px) {
    flex-grow: 1;
    margin-left: 20px;
  }
}

.form-registry__input--contacts {
  @media (min-width: 660px) {
    align-self: stretch;
    order: -1;
  }
}

.form-registry__checkbox-field {
  padding-left: 45px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;

}

.form-registry__checkbox-field--checkbox {
  @media (min-width: 1200px) {
    flex-basis: 260px;
  }
}

.form-registry__textarea {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 3px;
  min-height: 200px;
  align-self: stretch;
  resize: vertical;
}

.form-registry__title {
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: $pink-color;
  text-transform: uppercase;
  font-weight: normal;
}

.form-registry__title--feedback {
  margin-bottom: 20px;
}

.form-registry__submit {
  padding: 20px;
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include padding-side(0);
    order: 6;
    @media (min-width: 1200px) {
      justify-content: center;
      width: 100%;
    }
  }
}

.form-registry__button {
  cursor: pointer;
  background-color: rgb(42, 171, 109);
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $light-color;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  @media (min-width: 660px) {
    width: 300px;
    margin-left: 0;
  }
}

.form-registry__prompt {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.form-registry__prompt--notation {
  color: $pink-color;
}
