.form-registry {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.form-registry__section {
  @media (min-width: 660px) {
    margin-bottom: 65px;
    padding-top: 36px;
  }
}

.form-registry__section-wrapper {
  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;

    @media (min-width: 1200px) {
      align-items: stretch;
    }
  }
}

.form-registry__section--contacts .form-registry__section-wrapper {
  @media (min-width: 660px) {
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }
}

.form-registry__section--contacts {
  padding-top: 32px;
  padding-bottom: 28px;

  @media (min-width: 660px) {
    order: 3;
    margin-bottom: 13px;

    @media (min-width: 1200px) {
      width: 100%;
      padding-top: 2px;
    }
  }
}

.form-registry__section--contacts .form-registry__wrapper {
  padding-bottom: 0;
}

.form-registry__section--name-info {
  padding-bottom: 27px;
  padding-top: 20px;

  @media (min-width: 660px) {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 37px;

    @media (min-width: 1200px) {
      flex-grow: 1;
      margin-right: 50px;
      padding-top: 10px;
      // padding-left: 10px;
      // justify-content: space-between;
    }
  }
}

.form-registry__section--name-info .form-registry__wrapper {
  border: none;
  box-sizing: content-box;
}

.form-registry__section--name-info .form-registry__wrapper,
.form-registry__section--application .form-registry__wrapper {
  @media (min-width: 1200px) {
    margin: 0;
    width: auto;
    flex-basis: 460px;
  }
}

.form-registry__section--achievement {
  background-color: $secondary-bgColor;
  padding-top: 24px;

  @media (min-width: 660px) {
    background-color: $primary-bgColor;
    order: 4;
    margin-bottom: 42px;

    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.form-registry__section--application {
  background-color: $secondary-bgColor;
  padding-top: 23px;

  @media (min-width: 660px) {
    background-color: $primary-bgColor;
    padding-top: 4px;
    margin-bottom: 34px;

    @media (min-width: 1200px) {
      flex-grow: 1;
    }
  }
}

.form-registry__section--feedback {
  padding-top: 24px;

  @media (min-width: 660px) {
    order: 5;
    margin-bottom: 0;

    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.form-registry__section--feedback .form-registry__wrapper:last-child {
  @media (min-width: 660px) {
    border: none;
  }
}

.form-registry__section--achievement input,
.form-registry__section--application input {
  display: none;
}

.form-registry__section--achievement .form-registry__checkbox-box,
.form-registry__section--application .form-registry__checkbox-box {
  position: relative;
  display: block;
  float: left;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 2px;
  background-color: $primary-bgColor;
}

.form-registry__section--application .form-registry__checkbox-box {
  border-radius: 50%;
  box-sizing: content-box;
}

input[type="radio"]:checked + .form-registry__checkbox-box::after {
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: $pink-color;
}

input[type="checkbox"]:checked + .form-registry__checkbox-box::before {
  position: absolute;
  width: 12px;
  height: 2px;
  background: $pink-color;
  content: "";
  top: 21px;
  left: 2px;
  transform: rotate(45deg);
  // background-image: url("../img/icon-yes.svg");
  // background-repeat: no-repeat;
  // background-position: center 7px;
}

input[type="checkbox"]:checked + .form-registry__checkbox-box::after {
  position: absolute;
  width: 26px;
  right: 1px;
  height: 2px;
  background: $pink-color;
  content: "";
  top: 17px;
  transform: rotate(-45deg);
}

.form-registry__checkbox-text {
  padding-left: 30px;

  @media (min-width: 660px) {
    padding-left: 21px;
  }
}

.form-registry__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 660px) {
    border: 2px solid rgb(230, 230, 230);
    box-sizing: border-box;
    padding-bottom: 8px;
  }
}

.form-registry__section--application .form-registry__wrapper {
  @media (min-width: 660px) {
    padding-bottom: 15px;

    @media (min-width: 1200px) {
      margin-left: 25px;
    }
  }
}

.form-registry__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.form-registry__field--text {
  @media (min-width: 660px) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 51px;

    @media (min-width: 1200px) {
      margin-bottom: 52px;
      // align-items: center;
    }
  }
}

.form-registry__field--textarea {
  @media (min-width: 660px) {
    margin-top: 12px;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 40px;

    @media (min-width: 1200px) {
      margin-top: 6px;
      margin-bottom: 28px;
    }
  }
}

.form-registry__field--contacts {
  @media (min-width: 660px) {
    position: relative;
    align-items: flex-start;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 25px;

    @media (min-width: 1200px) {
      flex-grow: 1;
      margin-bottom: 10px;
    }
  }
}

.form-registry__field--contacts:last-child {
  @media (min-width: 1200px) {
    margin-left: 0;
  }
}

.form-registry__field--checkbox {
  margin-bottom: 5px;

  @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 15px;
  }
}

.form-registry__field--radio {
  margin-bottom: 8px;
}

.form-registry__label {
  color: $pink-color;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-indent: 22px;

  @media (min-width: 660px) {
    text-indent: 0;
  }
}

.form-registry__label--contacts {
  @media (min-width: 660px) {
    padding-left: 19px;
    margin-top: 10px;
  }
}

.form-registry__icon-contacts {
  display: none;

  @media (min-width: 660px) {
    position: absolute;
    // display: block;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    content: "";
    top: 5px;
    right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-registry__icon-contacts svg {
  fill: $pink-color;
}

.form-registry__input {
  outline: none;
  border: 2px solid rgb(230, 230, 230);
  padding: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px;

  @media (min-width: 660px) {
    flex-grow: 1;
    margin-left: 20px;
  }
}

.form-registry__input:hover {
  border-color: #283645;
}

.form-registry__input:focus {
  border-color: $pink-color;
}

.form-registry__input--contacts {
  @media (min-width: 660px) {
    align-self: stretch;
    order: -1;
    margin-top: 3px;
    margin-left: 0;
  }
}

.form-registry__checkbox-field {
  // padding-left: 45px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 21px;

  @media (min-width: 660px) {
    display: flex;
    align-items: center;
    margin-left: 58px;

    @media (min-width: 1200px) {
      margin-left: 75px;
    }
  }
}

.form-registry__checkbox-field--checkbox {
  padding-left: 0;

  @media (min-width: 1200px) {
    flex-basis: 260px;
    margin-left: 52px;
    // margin-bottom: 15px;
  }
}

.form-registry__checkbox-field--radio {
  padding-bottom: 10px;
  padding-top: 5px;
}

.form-registry__textarea {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 3px;
  min-height: 175px;
  align-self: stretch;
  resize: vertical;

  @media (min-width: 660px) {
    min-height: 170px;
  }

  @media (min-width: 1200px) {
    min-height: 105px;
  }
}

.form-registry__title {
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: $pink-color;
  text-transform: uppercase;
  font-weight: normal;

  @media (min-width: 660px) {
    position: relative;
    top: -9px;
    margin-top: 0;
    margin-bottom: 24px;
    background: #ffffff;
  }
}

.form-registry__section--application .form-registry__title {
  @media (min-width: 660px) {
    margin-bottom: 29px;
  }
}

.form-registry__title--feedback {
  margin-bottom: 16px;
}

.form-registry__title--contacts {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.form-registry__submit {
  margin-top: 30px;

  @media (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include padding-side(0);
    order: 6;
    margin-top: 73px;

    @media (min-width: 1200px) {
      justify-content: center;
      width: 100%;
    }
  }
}

.form-registry__button {
  margin-bottom: 35px;
  cursor: pointer;
  background-color: rgb(42, 171, 109);
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $light-color;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 660px) {
    width: 300px;
    margin-left: 0;

    @media (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }
}

.form-registry__button:hover {
  background-color: #1c9b5e;
}

.form-registry__button:active {
  color: #61b98f;
}

.form-registry__button[disabled] {
  background-color: #e5e5e5;
  color: #ffffff;
}

.form-registry__prompt {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.form-registry__prompt--notation {
  color: $pink-color;
}
