$primary-bgColor: rgb(255, 255, 255);
$secondary-bgColor: rgb(242, 242, 242);
$dark-color: rgb(40, 54, 69);
$light-color: rgb(255, 255, 255);
$pink-color: rgb(210, 40, 86);
$primary-font: 'OpenSans';
