.like {
  display: flex;
  align-items: center;
  color: $pink-color;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 22px;
  padding-top: 9px;

  @media (min-width: 660px) {
    // flex-basis: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 28px;
  }
}

.like__link {
  font-size: 0;
  // width: 20px;
  // height: 20px;
  // background-image: url("../img/icon-heart.svg");
  // background-repeat: no-repeat;
  // background-position: center;
  margin-right: 12px;

  @media (min-width: 660px) {
    margin-right: 0;
  }
}

.like__link svg {
  fill: $pink-color;
}

.like__count {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}
