.main-nav {
  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.main-nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.main-nav__link {
  color: $light-color;
  text-decoration: none;
}
