.map__background {
  overflow: hidden;
  height: 200px;
  // width: 100%;
  // background-image: url("../img/bg-map-mobile@1x.png");
  // background-repeat: no-repeat;
  // background-size: cover;

  @media (min-width: 660px) {
    height: 400px;

    @media (min-width: 1200px) {
      height: 515px;
      margin-bottom: 38px;
    }
  }
}

.map img {
  max-width: 100%;
}
