.page-header {
  // color: $light-color;
  background-color: rgb(29, 38, 49);
  // min-width: 320px;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.page-header--index {
  height: 460px;
  background-image: url('../img/iphone-hand-mobile@1x.png'), url('../img/bg-back-mobile@1x.jpg');
  background-size: auto contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.page-header__wrapper {
  background-color: rgba(	29, 38, 49, .7);
  padding: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  font-size: 0;
}

.page-header__nav {
  font-size: 0;
  background-image: url('../img/icon-menu-burger.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 25px;
}

.page-header__title {
  color: $light-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
}
