.page-main {
  margin: 0;
  padding: 0;
  // width: 320px;
}

.page-main__header {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-main__header--foto {
  padding-left: 35px;
  padding-right: 35px;
}

.page-main__description {
  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    @include padding-side(60px);
    @media (min-width: 1200px) {
      @include padding-side(220px);
    }
  }
}

.page-main__description--hidden {
  display: none;
  @media (min-width: 660px) {
    display: block;
    margin-top: 0;
  }
}
