.page-main {
  margin: 0;
  padding: 0;
  // width: 320px;
}

.page-main__header {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  // padding-left: 25px;
  // padding-right: 25px;
  padding-top: 10px;
  margin-bottom: 35px;
  @media (min-width: 660px) {
    padding-top: 75px;
    @media (min-width: 1200px) {
      margin-bottom: 72px;
    }
  }
}

.page-main__header--foto {
  padding-left: 35px;
  padding-right: 35px;
}

.page-main__description {
  @media (min-width: 660px) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 17px;
    @include padding-side(60px);
    @media (min-width: 1200px) {
      @include padding-side(80px);
      display: inline-block;
    }
  }
}

.page-main__description--hidden {
  display: none;
  @media (min-width: 660px) {
    display: block;
    margin-top: 0;
    @media (min-width: 1200px) {
      display: inline-block;
      padding: 0;
    }
  }
}
