.price {
  text-align: center;
  background-color: $secondary-bgColor;
  padding-top: 80px;
  padding-bottom: 30px;
  // overflow: hidden;
  // @include padding-side(20px);
  // margin-bottom: 30px;
  @media (min-width: 660px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1200px) {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  margin-right: -2px;
  min-width: 250px;

  @media (min-width: 660px) {
    min-width: 158px;

    @media (min-width: 1200px) {
      min-width: 238px;
    }
  }
}

.price__list--initial {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }
}

.price__item {
  position: relative;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(230, 230, 230);
  border-top: none;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 660px) {
    font-size: 0;
    min-height: 45px;
    background-color: $primary-bgColor;
    align-items: center;

    @media (min-width: 1200px) {
      padding: 7px;
    }
  }
}

.price__item--header svg {
  position: absolute;
  left: 0;
  top: 0;
}

.price__item--not-checked,
.price__item--checked {
  @media (max-width: 659px) {
    justify-content: space-between;
  }
  justify-content: center;
}

.price__item--not-checked svg {
  // width: 30px;
  // height: 30px;
  fill: #f25b26;
}

.price__item--checked svg {
  fill: #3dc644;
}

.price__item--header {
  background-color: $dark-color;
  color: $light-color;
  text-align: center;
  min-height: 60px;
  padding: 20px;
  flex-direction: column;
  position: relative;

  @media (min-width: 660px) {
    padding: 10px;

    @media (min-width: 1200px) {
      padding: 20px;
    }
  }
}

.price__item--hit::before {
  position: absolute;
  display: block;
  content: "ХИТ";
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  z-index: 1;
  font-size: 14px;
  font-weight: bold;
  transform: rotate(-45deg);
}

.price__item--hidden {
  background-color: inherit;
  border-left: none;
}

.price__check-icon {
  height: 30px;
  width: 30px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.price__check-icon--uncheck {
  background-image: url("../img/icon-no.svg");
}

.price__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: 660px) {
    font-size: 16px;

    @media (min-width: 1200px) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.price__value {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: uppercase;

  @media (min-width: 660px) {
    font-size: 18px;

    @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

// .price__option {
//   @media (max-width: 659px) {
//     margin-right: 20px;
//   }
// }

.price__option--initial {
  @media (min-width: 660px) {
    font-size: 14px;
    text-transform: none;
    margin: 0;

    @media (min-width: 1200px) {
      padding-left: 15px;
      font-size: 18px;
    }
    // padding-top: 15px;
  }
}
