.price {
  text-align: center;
  background-color: $secondary-bgColor;
  padding-top: 80px;
  padding-bottom: 30px;
  // overflow: hidden;
  // @include padding-side(20px);
  // margin-bottom: 30px;
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  border-bottom: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  margin-right: -2px;
  min-width: 250px;
  @media (min-width: 660px) {
    min-width: 158px;
  }
}

.price__list--initial {
  display: none;
  @media (min-width: 660px) {
    display: block;
  }
}

.price__item {
  position: relative;
  text-align: left;
  padding-left: 20px;
  border: 2px solid rgb(230, 230, 230);
  border-top: none;
  text-transform: uppercase;
  font-size: 14px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 660px) {
    font-size: 0;
    min-height: 45px;
    background-color: $primary-bgColor;
    align-items: center;
  }
}

.price__item svg {
  position: absolute;
  left: 0;
  top: 0;
}

.price__item svg::after {
  display: block;
  content: 'ХИТ';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}

.price__item--header {
  background-color: $dark-color;
  color: $light-color;
  text-align: center;
  min-height: 60px;
  padding: 20px;
  flex-direction: column;
  @media (min-width: 660px) {
    padding: 10px;
  }
}

.price__item--hidden {
  background-color: inherit;
  border-left: none;
}

.price__check-icon {
  height: 30px;
  width: 30px;
  background-image: url('../img/icon-yes.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.price__check-icon--uncheck {
  background-image: url('../img/icon-no.svg');
}

.price__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  @media (min-width: 660px) {
    font-size: 16px;
  }
}

.price__value {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  text-transform: uppercase;
  @media (min-width: 660px) {
    font-size: 18px;
  }
}
//
// .price__option {
//   margin: 0;
// }
//
.price__option--initial {
  @media (min-width: 660px) {
    font-size: 14px;
    text-transform: none;
    margin: 0;
    // padding-top: 15px;
  }
}
