.review {
  text-align: center;
  padding-bottom: 40px;

  @include padding-side(20px);

  @media (min-width: 660px) {
    padding-top: 4px;
    padding-bottom: 15px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 40px;
    padding-bottom: 25px;
    padding-top: 40px;
    // background-image: url("../img/icon-quotes.svg");
    // background-repeat: no-repeat;
    // background-position: center 70px;
  }
}

.review__quotes {
  @media (max-width: 1199px) {
    display: none;
  }
  width: 50px;
  // height: 150px;
  margin: 0 auto;
}

.review__slider {
  display: none;

  @media (min-width: 1200px) {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #bec2c7;
    transform: rotate(45deg);
    left: 0;
    top: 150px;
  }
}

.review__slider--right {
  @media (min-width: 1200px) {
    right: 0;
    top: 150px;
    transform: rotate(-45deg);
    background-color: red;
  }
}

.review__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;

  @media (min-width: 1200px) {
    position: relative;
  }
}

.review__item {
  @media (min-width: 660px) {
    display: flex;
  }
}

.review__author {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 2px;

  @media (min-width: 660px) {
    font-size: 20px;
    margin-bottom: 8px;
    order: 1;

    @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 5px;
    }
  }
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 22px;

  @media (min-width: 660px) {
    font-size: 18px;
    order: 0;

    @media (min-width: 1200px) {
      padding-top: 60px;
      margin-bottom: 20px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.review__about {
  display: none;

  @media (min-width: 660px) {
    display: block;
    font-size: 14px;
    order: 2;
    margin-top: 0;
    margin-bottom: 28px;

    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
}
