.review {
  text-align: center;
  padding-bottom: 40px;
  @include padding-side(20px);
  @media (min-width: 1200px) {
    @include padding-side(250px);
    margin-bottom: 40px;
  }
}

.review__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.review__item {
  @media (min-width: 660px) {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}

.review__author {
  font-size: 18px;
  @media (min-width: 660px) {
    font-size: 20px;
    margin-bottom: 0;
    order: 1;
    @media (min-width: 1200px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

.review__description {
  font-size: 14px;
  line-height: 30px;
  @media (min-width: 660px) {
    font-size: 18px;
    order: 0;
    @media (min-width: 1200px) {
      padding-top: 60px;
      margin-bottom: 13px;
    }
  }
}

.review__about {
  display: none;
  @media (min-width: 660px) {
    display: block;
    font-size: 14px;
    order: 2;
    margin-top: 0;
    @media (min-width: 1200px) {
      font-size: 18px;
    }
  }
}
