.slider--hidden {
  overflow: hidden;
}

.slider__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider__list--hidden {
  // padding-left: 0;
  // padding-right: 0;
}

.slider__item {
  display: none;
}

.slider__item--hidden {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.slider__item--active {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.slider__toggles {
  @media (min-width: 1200px) {
    visibility: hidden;
  }
}
