.slider--hidden {
  overflow: hidden;
}

.slider__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  justify-content: center;

  @media (max-width: 659px) {
    max-width: 320px;
    margin: 0 auto;
  }
}

.slider__list--hidden {
  // padding-left: 0;
  // padding-right: 0;
}

.slider__item {
  display: none;
}

.slider__item--hidden {
  display: flex;
}

.slider__item--active {
  display: flex;
  flex-direction: column;
}

.slider__toggles {
  @media (min-width: 1200px) {
    visibility: hidden;
  }
}

.slider__toggle {
  background-color: #bec2c7;
  font-size: 0;
  border-radius: 50%;
  border: none;
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 8px;
}

.slider__toggle--active {
  border: 3px solid #283645;
  background-color: inherit;
  width: 12px;
  height: 12px;
}
